# source ~/.env_vars.sh

set PATH $PATH /opt/homebrew/bin
set PATH $PATH ~/bin

set -Ux EDITOR (which hx)

set -U fish_greeting

if status is-interactive
    # Commands to run in interactive sessions can go here
end

starship init fish | source

# Created by `pipx` on 2021-12-15 08:09:28
set PATH $PATH /Users/nik/.local/bin

set PATH $PATH /Users/nik/.cargo/bin

set DOTFILES ~/.dotfiles

set -Ux XDG_CONFIG_HOME "$HOME/.config"

eval "$(atuin init fish)"

{{- if eq .chezmoi.hostname "reachnik" }}
set -Ux PYENV_ROOT $HOME/.pyenv
set -U fish_user_paths $PYENV_ROOT/bin $fish_user_paths

set -Ux AWS_REGION "us-west-2"

pyenv init - | source

source ~/src/reach_security/venv/bin/activate.fish
{{- end }}
