[[language]]
name = "python"
auto-format = true
{{- if eq .chezmoi.hostname "reachnik" }}
formatter = { command = "black", args = ["-"] }
{{- end }}
{{- if ne .chezmoi.hostname "reachnik" }}
formatter = { command = "ruff", args = ["format", "-"] }
language-servers = [
  { name = "ruff", only-features = [ "diagnostics" ] },
  { name = "pylsp" },
]

[language-server.ruff]
command = "ruff"
args = [ "server", "--preview" ]

[language-server.rust-analyzer.config.check]
command = "clippy"

# [[language]]
# name = "json"
# auto-format = true
# formatter = { command = "prettier", args = ["-"] }
{{- end }}
