snippet cl
	console.log(${1}); // TODO: Nik - remove
snippet ce
	console.error(${1}); // TODO: Nik - remove
snippet ci
	console.info(${1}); // TODO: Nik - remove
snippet cw
	console.warn(${1}); // TODO: Nik - remove
snippet de
	debugger;
