snippet pdb
	import pdb; pdb.set_trace()  # TODO: Nik - remove
snippet pprint
	import pprint; pprint.PrettyPrinter(indent=4, width=100).pprint(${1})  # TODO: Nik - remove
snippet print
	print(${1})  # TODO: Nik - remove
snippet pass
	pass  # TODO: Nik - remove
snippet sep
	print('--------------------------------------------------')  # TODO: Nik - remove
snippet rem
	# TODO: Nik - remove
